.Menu {
	height: 42px;
	line-height: 42px;
	margin: auto;
	width: 100%;
	background: #c91a1f;
	float: left;
	color: #ffffff;
	padding-left: 10px;
}

.Menu ul
{
	margin: 0px;
	padding: 0px;
}
.Menu ul li
{
	list-style: none;
	float: left;
	display: inline;
	position: relative;
}
.Menu ul li:hover
{
	background: #e00000;
}
	.Menu ul li a {
		color: #fff;
		float: inherit;
		font: 13px/41px "Roboto Slab",Helvetica,Arial,Verdana,sans-serif;
		height: 42px;
		padding-left: 10px;
		padding-right: 10px;
		text-decoration: none;
		text-transform: uppercase;
		border-right: 1px solid #ffff;
	}.Menu ul li a:hover
{
	background: #e00000;
	color: #FFF;
}
		.Menu ul li a span {
			padding-right: 0px;
			padding-top: 2px;
			text-transform: uppercase;
		}
.Menu ul li a.curent
{
	background: #e00000;
	color: #FFF;
	float: left;
}
.Menu ul li a.curent span
{
	float: left;
}
.Menu li ul
{
	position: absolute;
	z-index: 999;
	width: 250px;
	float: none;
	top: 42px;
	left: 0px;
	background: #e00000;
	display: none;
	    overflow: visible !important;
}
.Menu li ul ul
{
	top: 0px;
	left: 250px;
}
	.Menu li ul a {
		width: 245px;
		float: none;
		padding: 0px;
		border: none;
		background: none;
		text-indent: 0px;
		border-bottom: #fff 1px solid;
		display: block;
		height: 30px;
		line-height: 30px;
		margin: 0px;
		color: #FFF;
		padding-left: 5px;
	}
.Menu li ul a:hover
{
	color: #FFF;
	background: #141118;
}
.Menu li:hover ul ul, .Menu li:hover ul ul ul
{
	display: none;
	z-index:100;
}
.Menu li:hover ul, .Menu li li:hover ul
{
	display: block;
	z-index:100;
}


.Menu ul li a.active {
    background: #e00000 none repeat scroll 0 0;
    color: #fff;
    float: left;
}

html {
	overflow-x: hidden;
}