.popupbox3 {width:920px;height:700px;padding-top:20px;padding-right:20px;display: none;float: left;position: fixed;top:65%; left: 50%;	z-index: 99999;}
#fade { display: none;background: #000;position: fixed; left: 0; top: 0;width: 100%; height: 100%;opacity: .80;z-index: 9999;}
#intabdiv3 {background:#fff;}
.closes {float: right;position: absolute;right: 20px;top: 20px;z-index: 999999;}
#scoll{  height: 500px;overflow-x: hidden;padding: 20px;width: 898px; line-height:22px;}
.tbl_cart{ width:850px;}
