.Download
{
}
.Download .hd
{
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	background-color: #fe8209;
	padding-top: 5px;
	padding-bottom: 5px;
}
.Download table
{
	border-left: solid 1px #999;
}
.Download td
{
	border-bottom: solid 1px #999;
	border-right: solid 1px #999;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: #575757;
	font-size: 12px;
}
.Download a
{
	color: #575757;
}
.Download a:hover
{
	text-decoration: underline;
}
.Download table tr
{
}
.Download table tr td
{
}



/*Phan trang*/
.pager
{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.pager a
{
	padding: 3px;
	margin-left: 3px;
	text-decoration: none;
	color: #999;
	font-weight: bold;
}
.pager a.current
{
	color: red;
}
.pager a:hover
{
	color: red;
	text-decoration: underline;
}
.pager b
{
	color: red;
}
